.userCatalogDiv {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.userSpotCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    height: 400px;
    margin-bottom: 30px;
}

.spot-Options {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#update-spot-button {
    background-color: gray;
    color: white;
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 5px;
    width: 100%;
}

#update-spot-button:hover {
    cursor: pointer;
}

.Temp-Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}


#card-user-holder {
    height: 300px;
}
