.whole-userSpots {
}

.management-Div-settings {
    display: flex;
    flex-direction: column;
    margin: 0% 4%;
    height: fit-content;
}

.userCatalogDiv {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 10px;
}


.userSpotCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    height: 400px;
    margin-bottom: 30px;
}

#card-user-holder {
    width: 100%;
}

.spot-Options {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#update-spot-button {
    background-color: gray;
    color: white;
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 5px;
    width: 100%;
}

#update-spot-button:hover {
    cursor: pointer;
}

.Temp-Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}


#card-user-holder {
    height: 300px;
}


#Create-New-Spot-manage {
    background-color: gray;
    color: white;
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 5px;
    width: fit-content  ;
    font-weight: bold;
    text-decoration: none;
}
